In [1]:
import pandas as pd

In [2]:
from pandas import Series, DataFrame

In [3]:
import numpy as np

In [4]:
df = DataFrame({'key1': ['a', 'a', 'b', 'b', 'a'], 'key2': ['one', 'two', 'one' ,'two', 'one'], 'data1': np.random.randn(5), 'data2': np.random.randn(5)})

In [5]:
df

  key1 key2     data1     data2
0    a  one  0.471854 -0.354531
1    a  two  0.591106 -1.048229
2    b  one  0.160742  0.447624
3    b  two -0.363276 -0.075894
4    a  one  0.147239 -0.333927

In [6]:
grouped = df['data1'].groupby(df['key1'])

In [7]:
grouped

In [8]:
grouped.mean()

key1
a    0.403400
b   -0.101267
Name: data1, dtype: float64

In [ ]:
means = df['data1'].groupby([df['key1'], df['key2']])