In [1]:
from datetime import datetime

In [2]:
now = datetime.now()

In [3]:
now

datetime.datetime(2022, 7, 10, 21, 36, 52, 327196)

In [4]:
now.year, now.month, now.day

(2022, 7, 10)

In [5]:
delta = datetime(2011,1,7) - datetime(2008, 6, 24, 8, 15)

In [6]:
delta

datetime.timedelta(days=926, seconds=56700)

In [7]:
delta.days

926

In [8]:
delta.seconds

56700

In [9]:
from datetime import timedelta

In [10]:
start = datetime(2011, 1, 7)

In [11]:
start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [12]:
start - 2 * timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

In [13]:
stamp = datetime(2011, 1, 3)

In [14]:
str(stamp)

'2011-01-03 00:00:00'

In [15]:
stamp.strftime('%Y-%m-%d')

'2011-01-03'

In [16]:
value = '2011-01-03'

In [17]:
datetime.strptime(value, '%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [18]:
datestrs = ['7/6/2011', '8/6/2011']

In [19]:
[datetime.strptime(x, '%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [20]:
from dateutil.parser import parse

In [21]:
parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [22]:
parse('Jan 31, 1997 10:45 PM')

datetime.datetime(1997, 1, 31, 22, 45)

In [23]:
parse('6/12/2011', dayfirst=True)

datetime.datetime(2011, 12, 6, 0, 0)

In [24]:
datestrs = ['2011-07-06 12:00:00', '2011-08-06 00:00:00']

In [25]:
import pandas as pd
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [26]:
idx = pd.to_datetime(datestrs + [None])

In [27]:
idx

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

In [28]:
idx[2]

NaT

In [29]:
pd.isnull(idx)

array([False, False,  True])

In [30]:
dates = [datetime(2011,1,2),datetime(2011,1,5), datetime(2011,1,7), datetime(2011,1,8), datetime(2011,1,10), datetime(2011,1,12)]

In [31]:
from pandas import Series, DataFrame

In [32]:
import numpy as np

In [33]:
ts = Series(np.random.randn(6), index=dates)

In [34]:
ts

2011-01-02   -0.692185
2011-01-05   -1.805355
2011-01-07   -0.773969
2011-01-08   -1.702393
2011-01-10   -1.266178
2011-01-12    1.241105
dtype: float64

In [35]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [36]:
ts + ts[::2]

2011-01-02   -1.384369
2011-01-05         NaN
2011-01-07   -1.547937
2011-01-08         NaN
2011-01-10   -2.532355
2011-01-12         NaN
dtype: float64

In [37]:
ts.index.dtype

dtype('<M8[ns]')

In [38]:
stamp = ts.index[0]

In [39]:
stamp

Timestamp('2011-01-02 00:00:00')

In [40]:
stamp = ts.index[2]

In [41]:
ts[stamp]

-0.7739686598409049

In [42]:
ts['1/10/2011']

-1.266177701342148

In [43]:
ts['20110110']

-1.266177701342148

In [44]:
longer_ts = Series(np.random.randn(1000), index=pd.date_range('1/1/2000', periods=1000))

In [45]:
longer_ts

2000-01-01    0.424813
2000-01-02   -1.071717
2000-01-03   -0.028365
2000-01-04    1.269608
2000-01-05   -1.911504
                ...
2002-09-22    0.713672
2002-09-23    0.045272
2002-09-24    0.472263
2002-09-25    0.168645
2002-09-26    1.092222
Freq: D, Length: 1000, dtype: float64

In [46]:
longer_ts['2001']

2001-01-01   -0.164170
2001-01-02    0.440830
2001-01-03    0.081188
2001-01-04    0.301155
2001-01-05    0.267918
                ...
2001-12-27    1.065012
2001-12-28   -0.401906
2001-12-29    1.161991
2001-12-30   -1.718727
2001-12-31   -0.066569
Freq: D, Length: 365, dtype: float64

In [47]:
longer_ts['2001-05']

2001-05-01    0.569973
2001-05-02   -0.038293
2001-05-03   -0.218272
2001-05-04   -0.435183
2001-05-05   -0.471884
2001-05-06   -0.951422
2001-05-07   -1.378963
2001-05-08   -2.648710
2001-05-09   -0.090420
2001-05-10   -0.619018
2001-05-11    0.192912
2001-05-12    1.517869
2001-05-13   -0.651822
2001-05-14    0.509404
2001-05-15   -0.374856
2001-05-16    1.391080
2001-05-17    0.085162
2001-05-18    0.377608
2001-05-19    0.429149
2001-05-20    0.315202
2001-05-21    1.267387
2001-05-22   -0.994445
2001-05-23   -1.945494
2001-05-24    1.227441
2001-05-25    1.090491
2001-05-26    1.388778
2001-05-27   -1.426920
2001-05-28    1.289927
2001-05-29    0.228523
2001-05-30   -1.980917
2001-05-31    0.072626
Freq: D, dtype: float64

In [48]:
ts[datetime(2011,1,7)]

-0.7739686598409049

In [49]:
ts

2011-01-02   -0.692185
2011-01-05   -1.805355
2011-01-07   -0.773969
2011-01-08   -1.702393
2011-01-10   -1.266178
2011-01-12    1.241105
dtype: float64

In [50]:
ts['1/6/2011':'1/11/2011']

2011-01-07   -0.773969
2011-01-08   -1.702393
2011-01-10   -1.266178
dtype: float64

In [51]:
ts.truncate(after='1/9/2011')

2011-01-02   -0.692185
2011-01-05   -1.805355
2011-01-07   -0.773969
2011-01-08   -1.702393
dtype: float64

In [52]:
dates  =pd.date_range('1/1/2000', periods=100, freq='W-WED')

In [53]:
long_df = DataFrame(np.random.randn(100,4), index=dates, columns=['Colorado', 'Texas', 'New York','Ohio'])

In [54]:
long_df.loc['5-2001']

            Colorado     Texas  New York      Ohio
2001-05-02 -0.797699 -1.494198 -1.108095  0.432576
2001-05-09 -1.322620  0.524184  0.135130 -0.368286
2001-05-16 -0.966548  0.406432 -0.758355 -0.868225
2001-05-23 -0.170251  0.273054 -0.533453  0.230945
2001-05-30  0.083190  1.682629  1.030756 -0.695681

In [55]:
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000',  '1/2/2000', '1/3/2000'])

In [56]:
dup_ts = Series(np.arange(5), index=dates)

In [57]:
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int64

In [58]:
dup_ts.is_unique

True

In [59]:
dup_ts.index.is_unique

False

In [60]:
dup_ts['1/3/2000']

4

In [61]:
dup_ts['1/2/2000']

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int64

In [62]:
grouped = dup_ts.groupby(level=0)

In [63]:
grouped.mean()

2000-01-01    0.0
2000-01-02    2.0
2000-01-03    4.0
dtype: float64

grouped.count()

In [64]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

In [65]:
ts

2011-01-02   -0.692185
2011-01-05   -1.805355
2011-01-07   -0.773969
2011-01-08   -1.702393
2011-01-10   -1.266178
2011-01-12    1.241105
dtype: float64

In [66]:
resampler = ts.resample('D')

In [67]:
resampler

In [68]:
index = pd.date_range('2012-04-01', '2012-06-01')

In [69]:
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [70]:
pd.date_range(start='2012-04-01', periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [71]:
pd.date_range(end='2012-06-01', periods=20)

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [72]:
pd.date_range('2000-01-01', '2000-12-01', freq='BM')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

In [73]:
pd.date_range('2012-05-02 12:56:31', periods=5)

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [74]:
pd.date_range('2012-05-02 12:56:31', periods = 5, normalize=True)

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

In [75]:
from pandas.tseries.offsets import Hour, Minute

In [76]:
hour = Hour()

In [77]:
hour

In [78]:
four_hours = Hour(4)

In [79]:
four_hours

In [80]:
pd.date_range('2000-01-01', '2001-01-03 23:59', freq='4h')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               ...
               '2001-01-02 08:00:00', '2001-01-02 12:00:00',
               '2001-01-02 16:00:00', '2001-01-02 20:00:00',
               '2001-01-03 00:00:00', '2001-01-03 04:00:00',
               '2001-01-03 08:00:00', '2001-01-03 12:00:00',
               '2001-01-03 16:00:00', '2001-01-03 20:00:00'],
              dtype='datetime64[ns]', length=2214, freq='4H')

In [81]:
Hour(2) + Minute(30)

In [82]:
pd.date_range('2000-01-01', periods=10, freq='1h30min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

In [83]:
rng = pd.date_range('2012-01-01', '2012-09-01', freq='WOM-3FRI')

In [84]:
list(rng)

[Timestamp('2012-01-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-02-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-03-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-04-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-05-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-06-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-07-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-08-17 00:00:00', freq='WOM-3FRI')]

In [85]:
ts = pd.Series(np.random.randn(4), index=pd.date_range('1/1/2000', periods=4, freq='M'))

In [86]:
ts

2000-01-31   -0.117027
2000-02-29   -0.808721
2000-03-31   -1.359232
2000-04-30    1.019080
Freq: M, dtype: float64

In [87]:
ts.shift(2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31   -0.117027
2000-04-30   -0.808721
Freq: M, dtype: float64

In [88]:
ts.shift(-2)

2000-01-31   -1.359232
2000-02-29    1.019080
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

In [89]:
ts / ts.shift(1) -1

2000-01-31         NaN
2000-02-29    5.910541
2000-03-31    0.680719
2000-04-30   -1.749747
Freq: M, dtype: float64

In [90]:
ts.shift(2, freq='M')

2000-03-31   -0.117027
2000-04-30   -0.808721
2000-05-31   -1.359232
2000-06-30    1.019080
Freq: M, dtype: float64

In [91]:
ts.shift(3, freq='D')

2000-02-03   -0.117027
2000-03-03   -0.808721
2000-04-03   -1.359232
2000-05-03    1.019080
dtype: float64

In [92]:
ts.shift(1, freq='90T')

2000-01-31 01:30:00   -0.117027
2000-02-29 01:30:00   -0.808721
2000-03-31 01:30:00   -1.359232
2000-04-30 01:30:00    1.019080
dtype: float64

In [93]:
from pandas.tseries.offsets import Day, MonthEnd

In [94]:
now = datetime(2011,11,17)

In [95]:
now + 3  * Day()

Timestamp('2011-11-20 00:00:00')

In [96]:
now + MonthEnd()

Timestamp('2011-11-30 00:00:00')

In [97]:
now + MonthEnd(2)

Timestamp('2011-12-31 00:00:00')

In [98]:
offset = MonthEnd()

In [99]:
offset.rollforward(now)

Timestamp('2011-11-30 00:00:00')

In [101]:
ts = Series(np.random.randn(20), index=pd.date_range('1/15/2000', periods=20, freq='4d'))

In [102]:
ts

2000-01-15    0.183175
2000-01-19   -0.297813
2000-01-23   -0.471949
2000-01-27    1.231239
2000-01-31   -0.264344
2000-02-04    0.409557
2000-02-08   -0.752341
2000-02-12   -0.333063
2000-02-16    0.374890
2000-02-20    0.035136
2000-02-24   -0.723162
2000-02-28    0.343126
2000-03-03   -0.248393
2000-03-07    0.772979
2000-03-11    0.533207
2000-03-15    0.202657
2000-03-19   -0.664164
2000-03-23   -0.256411
2000-03-27   -1.638058
2000-03-31    0.835315
Freq: 4D, dtype: float64

In [103]:
ts.groupby(offset.rollforward).mean()

2000-01-31    0.076062
2000-02-29   -0.092265
2000-03-31   -0.057858
dtype: float64

In [104]:
ts.resample('M').mean()

2000-01-31    0.076062
2000-02-29   -0.092265
2000-03-31   -0.057858
Freq: M, dtype: float64

In [105]:
import pytz

In [108]:
pytz.common_timezones[-5:]

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [107]:
tz = pytz.timezone('America/New_York')

In [109]:
tz

In [110]:
rng = pd.date_range('3/9/2012 9:30', periods=6, freq='D')

In [111]:
ts = Series(np.random.randn(len(rng)), index=rng)

In [112]:
ts

2012-03-09 09:30:00   -1.356940
2012-03-10 09:30:00   -1.471949
2012-03-11 09:30:00   -0.441955
2012-03-12 09:30:00   -1.492452
2012-03-13 09:30:00    1.187768
2012-03-14 09:30:00   -0.071555
Freq: D, dtype: float64

In [113]:
print(ts.index.tz)

None

In [114]:
pd.date_range('3/9/2012 9:30', periods=10, freq='D', tz='UTC')

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00', '2012-03-16 09:30:00+00:00',
               '2012-03-17 09:30:00+00:00', '2012-03-18 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [115]:
ts

2012-03-09 09:30:00   -1.356940
2012-03-10 09:30:00   -1.471949
2012-03-11 09:30:00   -0.441955
2012-03-12 09:30:00   -1.492452
2012-03-13 09:30:00    1.187768
2012-03-14 09:30:00   -0.071555
Freq: D, dtype: float64

In [116]:
ts_utc = ts.tz_localize('UTC')

In [117]:
ts_utc

2012-03-09 09:30:00+00:00   -1.356940
2012-03-10 09:30:00+00:00   -1.471949
2012-03-11 09:30:00+00:00   -0.441955
2012-03-12 09:30:00+00:00   -1.492452
2012-03-13 09:30:00+00:00    1.187768
2012-03-14 09:30:00+00:00   -0.071555
Freq: D, dtype: float64

In [118]:
ts_utc.index

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [120]:
ts_utc.tz_convert('America/New_York')

2012-03-09 04:30:00-05:00   -1.356940
2012-03-10 04:30:00-05:00   -1.471949
2012-03-11 05:30:00-04:00   -0.441955
2012-03-12 05:30:00-04:00   -1.492452
2012-03-13 05:30:00-04:00    1.187768
2012-03-14 05:30:00-04:00   -0.071555
Freq: D, dtype: float64

In [121]:
ts_eastern = ts.tz_localize('America/New_York')

In [122]:
ts_eastern.tz_convert('UTC')

2012-03-09 14:30:00+00:00   -1.356940
2012-03-10 14:30:00+00:00   -1.471949
2012-03-11 13:30:00+00:00   -0.441955
2012-03-12 13:30:00+00:00   -1.492452
2012-03-13 13:30:00+00:00    1.187768
2012-03-14 13:30:00+00:00   -0.071555
dtype: float64

In [123]:
ts_eastern.tz_convert('Europe/Berlin')

2012-03-09 15:30:00+01:00   -1.356940
2012-03-10 15:30:00+01:00   -1.471949
2012-03-11 14:30:00+01:00   -0.441955
2012-03-12 14:30:00+01:00   -1.492452
2012-03-13 14:30:00+01:00    1.187768
2012-03-14 14:30:00+01:00   -0.071555
dtype: float64

In [124]:
ts.index.tz_localize('Asia/Shanghai')

DatetimeIndex(['2012-03-09 09:30:00+08:00', '2012-03-10 09:30:00+08:00',
               '2012-03-11 09:30:00+08:00', '2012-03-12 09:30:00+08:00',
               '2012-03-13 09:30:00+08:00', '2012-03-14 09:30:00+08:00'],
              dtype='datetime64[ns, Asia/Shanghai]', freq=None)

In [126]:
stamp = pd.Timestamp('2011-03-12 04:00')

In [127]:
stamp_utc=stamp.tz_localize('utc')

In [128]:
stamp_utc.tz_convert('America/New_York')

Timestamp('2011-03-11 23:00:00-0500', tz='America/New_York')

In [129]:
stamp_moscow = pd.Timestamp('2011-03-12 04:00', tz = 'Europe/Moscow')

In [130]:
stamp_moscow

Timestamp('2011-03-12 04:00:00+0300', tz='Europe/Moscow')

In [131]:
stamp_utc.value

1299902400000000000

In [132]:
stamp_utc.tz_convert('America/New_York').value

1299902400000000000

In [133]:
from pandas.tseries.offsets import Hour

In [134]:
stamp = pd.Timestamp('2012-03-11 01:30', tz='US/Eastern')

In [135]:
stamp

Timestamp('2012-03-11 01:30:00-0500', tz='US/Eastern')

In [136]:
stamp + Hour()

Timestamp('2012-03-11 03:30:00-0400', tz='US/Eastern')

In [137]:
stamp = pd.Timestamp('2012-11-04 00:30', tz='US/Eastern')

In [138]:
stamp

Timestamp('2012-11-04 00:30:00-0400', tz='US/Eastern')

In [139]:
stamp + 2 * Hour()

Timestamp('2012-11-04 01:30:00-0500', tz='US/Eastern')

In [140]:
rng = pd.date_range('3/7/2012 09:30', periods = 10, freq= 'B')

ts = pd.Series(np.random.randn(len(rng)), index=eng)

In [141]:
ts = pd.Series(np.random.randn(len(rng)), index=rng)

In [142]:
ts

2012-03-07 09:30:00   -0.373613
2012-03-08 09:30:00    0.882280
2012-03-09 09:30:00    1.799373
2012-03-12 09:30:00    1.851058
2012-03-13 09:30:00    0.122826
2012-03-14 09:30:00   -0.524027
2012-03-15 09:30:00    1.258082
2012-03-16 09:30:00    0.194543
2012-03-19 09:30:00   -0.536015
2012-03-20 09:30:00    0.597650
Freq: B, dtype: float64

In [143]:
ts1 = ts[:7].tz_localize('Europe/London')

In [144]:
ts2 = ts[2:].tz_localize('Europe/Moscow')

In [145]:
result = ts1 + ts2

In [146]:
result.index

DatetimeIndex(['2012-03-07 09:30:00+00:00', '2012-03-08 09:30:00+00:00',
               '2012-03-09 05:30:00+00:00', '2012-03-09 09:30:00+00:00',
               '2012-03-12 05:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 05:30:00+00:00', '2012-03-13 09:30:00+00:00',
               '2012-03-14 05:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 05:30:00+00:00', '2012-03-15 09:30:00+00:00',
               '2012-03-16 05:30:00+00:00', '2012-03-19 05:30:00+00:00',
               '2012-03-20 05:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq=None)

In [147]:
p = pd.Period(2007, freq = 'A-DEC')

In [148]:
p

Period('2007', 'A-DEC')

In [149]:
p + 5

Period('2012', 'A-DEC')

In [150]:
p-2

Period('2005', 'A-DEC')

In [152]:
pd.Period('2014', freq='A-DEC') -p

In [153]:
rng = pd.period_range('2000-01-01', '2000-06-30', freq='M')

In [154]:
rng

PeriodIndex(['2000-01', '2000-02', '2000-03', '2000-04', '2000-05', '2000-06'], dtype='period[M]')

In [156]:
Series(np.random.randn(6), index=rng)

2000-01   -0.275990
2000-02    0.205707
2000-03    0.005768
2000-04    0.023803
2000-05    0.252636
2000-06   -0.520924
Freq: M, dtype: float64

In [157]:
values = ['2001Q3', '2002Q2', '2003Q1']

In [158]:
index = pd.PeriodIndex(values, freq='Q-DEC')

In [159]:
index

PeriodIndex(['2001Q3', '2002Q2', '2003Q1'], dtype='period[Q-DEC]')

In [160]:
p = pd.Period('2007', freq='A-DEC')

In [161]:
p

Period('2007', 'A-DEC')

In [162]:
p.asfreq('M', how='start')

Period('2007-01', 'M')

In [163]:
p.asfreq('M', how='end')

Period('2007-12', 'M')

In [164]:
p = pd.Period('2007', freq='A-JUN')

In [165]:
p.asfreq('M', 'start')

Period('2006-07', 'M')

In [166]:
p.asfreq('M', 'end')

Period('2007-06', 'M')

In [167]:
p = pd.Period('Aug-2007', 'M')

In [168]:
p

Period('2007-08', 'M')

In [169]:
p.asfreq('A-JUN')

Period('2008', 'A-JUN')

In [170]:
rng = pd.period_range('2006', '2009', freq='A-DEC')

In [171]:
ts = Series(np.random.randn(len(rng)), index=rng)

In [172]:
ts

2006   -0.155102
2007   -0.844821
2008    0.111798
2009    0.472741
Freq: A-DEC, dtype: float64

In [173]:
ts.asfreq('M', how='start')

2006-01   -0.155102
2007-01   -0.844821
2008-01    0.111798
2009-01    0.472741
Freq: M, dtype: float64

In [174]:
ts.asfreq('B', how='end')

2006-12-29   -0.155102
2007-12-31   -0.844821
2008-12-31    0.111798
2009-12-31    0.472741
Freq: B, dtype: float64

In [175]:
p = pd.Period('2012Q4', freq='Q-JAN')

In [176]:
p

Period('2012Q4', 'Q-JAN')

In [177]:
p.asfreq('D', 'start')

Period('2011-11-01', 'D')

In [179]:
p.asfreq('D', 'end')

Period('2012-01-31', 'D')

In [180]:
p4pm = (p.asfreq('B', 'e') -1).asfreq('T', 's') + 16 *60

In [181]:
p4pm

Period('2012-01-30 16:00', 'T')

In [182]:
p4pm.to_timestamp()

Timestamp('2012-01-30 16:00:00')

In [183]:
rng = pd.period_range('2011Q3', '2012Q4', freq='Q-JAN')

In [184]:
rng

PeriodIndex(['2011Q3', '2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4'], dtype='period[Q-JAN]')

In [185]:
ts = Series(np.arange(len(rng)), index=rng)

In [186]:
new_rng = (rng.asfreq('B', 'e') -1).asfreq('T' , 's') + 16*60

In [188]:
ts.index = new_rng.to_timestamp()

In [189]:
ts

2010-10-28 16:00:00    0
2011-01-28 16:00:00    1
2011-04-28 16:00:00    2
2011-07-28 16:00:00    3
2011-10-28 16:00:00    4
2012-01-30 16:00:00    5
dtype: int64

In [190]:
rng = pd.date_range('2000-01-01', periods=3, freq='M')

In [191]:
ts = pd.Series(np.random.randn(3), index=rng)

In [192]:
ts

2000-01-31   -1.262728
2000-02-29   -0.128242
2000-03-31   -2.336737
Freq: M, dtype: float64

In [193]:
pts = ts.to_period()

In [194]:
pts

2000-01   -1.262728
2000-02   -0.128242
2000-03   -2.336737
Freq: M, dtype: float64

In [195]:
rng = pd.date_range('1/29/2000', periods=6, freq='D')

In [197]:
ts2 = Series(np.random.randn(6), index=rng)

In [198]:
ts2

2000-01-29    0.320527
2000-01-30    0.501076
2000-01-31   -0.536463
2000-02-01    0.733115
2000-02-02   -0.570378
2000-02-03   -0.455034
Freq: D, dtype: float64

In [199]:
ts2.to_period('M')

2000-01    0.320527
2000-01    0.501076
2000-01   -0.536463
2000-02    0.733115
2000-02   -0.570378
2000-02   -0.455034
Freq: M, dtype: float64

In [202]:
pts = ts2.to_period()

In [203]:
pts

2000-01-29    0.320527
2000-01-30    0.501076
2000-01-31   -0.536463
2000-02-01    0.733115
2000-02-02   -0.570378
2000-02-03   -0.455034
Freq: D, dtype: float64

In [204]:
pts.to_timestamp(how='end')

2000-01-29 23:59:59.999999999    0.320527
2000-01-30 23:59:59.999999999    0.501076
2000-01-31 23:59:59.999999999   -0.536463
2000-02-01 23:59:59.999999999    0.733115
2000-02-02 23:59:59.999999999   -0.570378
2000-02-03 23:59:59.999999999   -0.455034
Freq: D, dtype: float64

In [205]:
data = pd.read_csv('examples/macrodata.csv')

In [206]:
data.head(5)

,year,quarter,realgdp,realcons,realinv,realgovt,realdpi,cpi,m1,tbilrate,unemp,pop,infl,realint
0,1959.0,1.0,2710.349,1707.4,286.898,470.045,1886.9,28.98,139.7,2.82,5.8,177.146,0.00,0.00
1,1959.0,2.0,2778.801,1733.7,310.859,481.301,1919.7,29.15,141.7,3.08,5.1,177.830,2.34,0.74
2,1959.0,3.0,2775.488,1751.8,289.226,491.260,1916.4,29.35,140.5,3.82,5.3,178.657,2.74,1.09
3,1959.0,4.0,2785.204,1753.7,299.356,484.052,1931.3,29.37,140.0,4.33,5.6,179.386,0.27,4.06
4,1960.0,1.0,2847.699,1770.5,331.722,462.199,1955.5,29.54,139.6,3.50,5.2,180.007,2.31,1.19

In [207]:
data.year

0      1959.0
1      1959.0
2      1959.0
3      1959.0
4      1960.0
        ...
198    2008.0
199    2008.0
200    2009.0
201    2009.0
202    2009.0
Name: year, Length: 203, dtype: float64

In [209]:
data.quarter

0      1.0
1      2.0
2      3.0
3      4.0
4      1.0
      ...
198    3.0
199    4.0
200    1.0
201    2.0
202    3.0
Name: quarter, Length: 203, dtype: float64

In [210]:
index = pd.PeriodIndex(year=data.year, quarter=data.quarter, freq='Q-DEC')

In [211]:
index

PeriodIndex(['1959Q1', '1959Q2', '1959Q3', '1959Q4', '1960Q1', '1960Q2',
             '1960Q3', '1960Q4', '1961Q1', '1961Q2',
             ...
             '2007Q2', '2007Q3', '2007Q4', '2008Q1', '2008Q2', '2008Q3',
             '2008Q4', '2009Q1', '2009Q2', '2009Q3'],
            dtype='period[Q-DEC]', length=203)

In [212]:
data.index = index

In [213]:
data.infl

1959Q1    0.00
1959Q2    2.34
1959Q3    2.74
1959Q4    0.27
1960Q1    2.31
          ...
2008Q3   -3.16
2008Q4   -8.79
2009Q1    0.94
2009Q2    3.37
2009Q3    3.56
Freq: Q-DEC, Name: infl, Length: 203, dtype: float64

In [214]:
rng = pd.date_range('2000-01-01', periods=100, freq='D')

In [215]:
ts = Series(np.random.randn(len(rng)), index=rng)

In [216]:
ts

2000-01-01   -1.787771
2000-01-02   -0.706680
2000-01-03    0.059961
2000-01-04   -1.232902
2000-01-05   -0.410102
                ...
2000-04-05   -0.848659
2000-04-06   -0.244614
2000-04-07    0.015716
2000-04-08   -1.511943
2000-04-09   -0.980441
Freq: D, Length: 100, dtype: float64

In [217]:
ts.resample('M').mean()

2000-01-31   -0.299651
2000-02-29    0.148753
2000-03-31   -0.326429
2000-04-30   -0.556768
Freq: M, dtype: float64

In [218]:
ts.resample('M', kind='period').mean()

2000-01   -0.299651
2000-02    0.148753
2000-03   -0.326429
2000-04   -0.556768
Freq: M, dtype: float64

In [219]:
rng = pd.date_range('2000-01-01', periods=12, freq='T')

In [220]:
ts = Series(np.arange(12), index=rng)

In [221]:
ts

2000-01-01 00:00:00     0
2000-01-01 00:01:00     1
2000-01-01 00:02:00     2
2000-01-01 00:03:00     3
2000-01-01 00:04:00     4
2000-01-01 00:05:00     5
2000-01-01 00:06:00     6
2000-01-01 00:07:00     7
2000-01-01 00:08:00     8
2000-01-01 00:09:00     9
2000-01-01 00:10:00    10
2000-01-01 00:11:00    11
Freq: T, dtype: int64

In [222]:
ts.resample('5min').sum()

2000-01-01 00:00:00    10
2000-01-01 00:05:00    35
2000-01-01 00:10:00    21
Freq: 5T, dtype: int64

In [223]:
ts.resample('5min', closed='right').sum()

1999-12-31 23:55:00     0
2000-01-01 00:00:00    15
2000-01-01 00:05:00    40
2000-01-01 00:10:00    11
Freq: 5T, dtype: int64

In [225]:
ts.resample('5min', closed='right', label='right').sum()

2000-01-01 00:00:00     0
2000-01-01 00:05:00    15
2000-01-01 00:10:00    40
2000-01-01 00:15:00    11
Freq: 5T, dtype: int64

In [226]:
ts.resample('5min', closed='right', label='right', loffset='-1s').sum()

/var/folders/tl/3mcdykwx5g145dz_cpc1vdxc0000gn/T/ipykernel_47702/649735751.py:1: FutureWarning: 'loffset' in .resample() and in Grouper() is deprecated.

>>> df.resample(freq="3s", loffset="8H")

becomes:

>>> from pandas.tseries.frequencies import to_offset
>>> df = df.resample(freq="3s").mean()
>>> df.index = df.index.to_timestamp() + to_offset("8H")

  ts.resample('5min', closed='right', label='right', loffset='-1s').sum()

1999-12-31 23:59:59     0
2000-01-01 00:04:59    15
2000-01-01 00:09:59    40
2000-01-01 00:14:59    11
Freq: 5T, dtype: int64

In [227]:
ts.resample('5min').ohlc()

                     open  high  low  close
2000-01-01 00:00:00     0     4    0      4
2000-01-01 00:05:00     5     9    5      9
2000-01-01 00:10:00    10    11   10     11

In [228]:
frame = DataFrame(np.random.randn(2,4), index=pd.date_range('1/1/2000', periods=2, freq='W-WED'), columns=['Colorado', 'Texas', 'New York','Ohio' ])

In [229]:
frame

            Colorado     Texas  New York      Ohio
2000-01-05  0.843559 -1.531045 -0.511710 -1.923641
2000-01-12  1.365203 -0.536169 -0.743079  0.704786

In [230]:
df_daily = frame.resample('D').asfreq()

In [231]:
df_daily

            Colorado     Texas  New York      Ohio
2000-01-05  0.843559 -1.531045 -0.511710 -1.923641
2000-01-06       NaN       NaN       NaN       NaN
2000-01-07       NaN       NaN       NaN       NaN
2000-01-08       NaN       NaN       NaN       NaN
2000-01-09       NaN       NaN       NaN       NaN
2000-01-10       NaN       NaN       NaN       NaN
2000-01-11       NaN       NaN       NaN       NaN
2000-01-12  1.365203 -0.536169 -0.743079  0.704786

In [232]:
frame.resample('D').ffill()

            Colorado     Texas  New York      Ohio
2000-01-05  0.843559 -1.531045 -0.511710 -1.923641
2000-01-06  0.843559 -1.531045 -0.511710 -1.923641
2000-01-07  0.843559 -1.531045 -0.511710 -1.923641
2000-01-08  0.843559 -1.531045 -0.511710 -1.923641
2000-01-09  0.843559 -1.531045 -0.511710 -1.923641
2000-01-10  0.843559 -1.531045 -0.511710 -1.923641
2000-01-11  0.843559 -1.531045 -0.511710 -1.923641
2000-01-12  1.365203 -0.536169 -0.743079  0.704786

In [233]:
frame.resample('D').ffill(limit=2)

            Colorado     Texas  New York      Ohio
2000-01-05  0.843559 -1.531045 -0.511710 -1.923641
2000-01-06  0.843559 -1.531045 -0.511710 -1.923641
2000-01-07  0.843559 -1.531045 -0.511710 -1.923641
2000-01-08       NaN       NaN       NaN       NaN
2000-01-09       NaN       NaN       NaN       NaN
2000-01-10       NaN       NaN       NaN       NaN
2000-01-11       NaN       NaN       NaN       NaN
2000-01-12  1.365203 -0.536169 -0.743079  0.704786

In [234]:
frame.resample('W-THU').ffill()

            Colorado     Texas  New York      Ohio
2000-01-06  0.843559 -1.531045 -0.511710 -1.923641
2000-01-13  1.365203 -0.536169 -0.743079  0.704786

In [235]:
frame = DataFrame(np.random.randn(24,4), index=pd.period_range('1-2000', '12-2001', freq='M'), columns=['Colorado', 'Texas', 'New York', 'Ohio'])

In [236]:
frame@5

IndexError: tuple index out of range

In [237]:
frame[:5]

         Colorado     Texas  New York      Ohio
2000-01 -0.700680  0.442200 -1.979660 -0.385383
2000-02 -0.154559  1.178612  0.647919 -1.786504
2000-03  0.965289 -1.123395 -1.103326  1.295118
2000-04  0.681691 -0.522728 -0.696257 -0.689833
2000-05 -0.592356  0.517228 -1.017829  0.636843

In [238]:
annual_frame = frame.resample('A-DEC').mean()

In [239]:
annual_frame

      Colorado     Texas  New York      Ohio
2000 -0.109198 -0.152813 -0.588023 -0.096313
2001 -0.213366 -0.158086 -0.261019 -0.461628

In [240]:
frame

         Colorado     Texas  New York      Ohio
2000-01 -0.700680  0.442200 -1.979660 -0.385383
2000-02 -0.154559  1.178612  0.647919 -1.786504
2000-03  0.965289 -1.123395 -1.103326  1.295118
2000-04  0.681691 -0.522728 -0.696257 -0.689833
2000-05 -0.592356  0.517228 -1.017829  0.636843
2000-06 -0.103005  0.190654 -0.873071  1.352196
2000-07 -1.108889  1.095612  0.084987 -0.128345
2000-08 -0.469172 -1.612083 -1.238223 -0.909047
2000-09 -0.043889 -0.136345 -0.475115 -0.798543
2000-10  0.180732 -1.644507  0.758369  0.386175
2000-11  0.924477 -1.057870 -0.380649 -0.487880
2000-12 -0.890014  0.838863 -0.783416  0.359442
2001-01  1.131317  0.025238 -0.432173 -0.809431
2001-02  0.645237 -0.619151  0.405838  0.278109
2001-03 -1.864075 -0.376947 -1.989636 -0.071102
2001-04 -0.319025 -0.058546  0.283290 -0.605994
2001-05 -0.215454 -0.652125  0.957466  0.290816
2001-06 -0.641675  0.813927 -0.016397 -0.335518
2001-07  0.403763 -0.399755 -0.752591  0.737346
2001-08 -0.891336 -1.635398 -0.267035 -0.141252
2001-09 -1.220954  0.500796  1.656260 -1.466963
2001-10 -0.445542 -0.764486 -0.226831 -1.712398
2001-11 -0.289397  0.550440 -0.591158 -0.781462
2001-12  1.146746  0.718982 -2.159261 -0.921681

In [241]:
annual_frame.resample('Q-DEC').ffill()

        Colorado     Texas  New York      Ohio
2000Q1 -0.109198 -0.152813 -0.588023 -0.096313
2000Q2 -0.109198 -0.152813 -0.588023 -0.096313
2000Q3 -0.109198 -0.152813 -0.588023 -0.096313
2000Q4 -0.109198 -0.152813 -0.588023 -0.096313
2001Q1 -0.213366 -0.158086 -0.261019 -0.461628
2001Q2 -0.213366 -0.158086 -0.261019 -0.461628
2001Q3 -0.213366 -0.158086 -0.261019 -0.461628
2001Q4 -0.213366 -0.158086 -0.261019 -0.461628

In [242]:
annual_frame.resample('Q-DEC', convention='end').ffill()

        Colorado     Texas  New York      Ohio
2000Q4 -0.109198 -0.152813 -0.588023 -0.096313
2001Q1 -0.109198 -0.152813 -0.588023 -0.096313
2001Q2 -0.109198 -0.152813 -0.588023 -0.096313
2001Q3 -0.109198 -0.152813 -0.588023 -0.096313
2001Q4 -0.213366 -0.158086 -0.261019 -0.461628

In [243]:
annual_frame.resample('Q-MAR').ffill()

        Colorado     Texas  New York      Ohio
2000Q4 -0.109198 -0.152813 -0.588023 -0.096313
2001Q1 -0.109198 -0.152813 -0.588023 -0.096313
2001Q2 -0.109198 -0.152813 -0.588023 -0.096313
2001Q3 -0.109198 -0.152813 -0.588023 -0.096313
2001Q4 -0.213366 -0.158086 -0.261019 -0.461628
2002Q1 -0.213366 -0.158086 -0.261019 -0.461628
2002Q2 -0.213366 -0.158086 -0.261019 -0.461628
2002Q3 -0.213366 -0.158086 -0.261019 -0.461628

In [ ]:
close_