<a href="https://colab.research.google.com/github/janShi1105/science/blob/main/ML14_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import tensorflow as tf
import pandas as pd

dataset_path = tf.keras.utils.get_file('auto-mpg.data', 'http://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data')
column_names = ['MPG', 'Cylinders', 'Displacement', 'Horsepower', 'Weight', 'Acceleration', 'ModelYear', 'Origin']
df = pd.read_csv(dataset_path, names=column_names, na_values= '?', comment='\t', sep=' ', skipinitialspace=True)

Downloading data from http://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data
32768/30286 [================================] - 0s 1us/step
40960/30286 [========================================] - 0s 1us/step

In [3]:
df = df.dropna()
df = df.reset_index(drop=True)
import sklearn
import sklearn.model_selection
df_train, df_test = sklearn.model_selection.train_test_split(df, train_size=0.8)
train_stats = df_train.describe().transpose()
numeric_column_names = ['Cylinders', 'Displacement', 'Horsepower', 'Weight', 'Acceleration']
df_train_norm, df_test_norm = df_train.copy(), df_test.copy()
for col_name in numeric_column_names:
  mean = train_stats.loc[col_name, 'mean']
  std  = train_stats.loc[col_name, 'std']
  df_train_norm.loc[:, col_name] = (df_train_norm.loc[:, col_name] - mean)/ std
  df_test_norm.loc[:, col_name] = (df_test_norm.loc[:, col_name] - mean)/ std

df_train_norm.tail()

,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,ModelYear,Origin
270,23.8,-0.896036,-0.449067,-0.525032,-0.183821,0.742231,78,1
82,28.0,-0.896036,-0.952433,-0.653479,-0.983446,-0.184618,72,1
237,30.0,-0.896036,-0.961930,-0.987441,-1.190585,0.314454,77,3
5,15.0,1.441124,2.191231,2.377869,1.535778,-1.967020,70,1
9,15.0,1.441124,1.820829,2.172353,0.967593,-2.501741,70,1

In [4]:
numeric_features = []
for col_name in numeric_column_names:
  numeric_features.append(tf.feature_column.numeric_column(key=col_name))

In [5]:
feature_year = tf.feature_column.numeric_column(key='ModelYear')
bucketized_features = []
bucketized_features.append(tf.feature_column.bucketized_column(source_column=feature_year, boundaries=[73,76,79]))

In [6]:
feature_origin = tf.feature_column.categorical_column_with_vocabulary_list(key='Origin', vocabulary_list=[1,2,3])

In [7]:
print(feature_year)

NumericColumn(key='ModelYear', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None)

In [8]:
feature_origin

VocabularyListCategoricalColumn(key='Origin', vocabulary_list=(1, 2, 3), dtype=tf.int64, default_value=-1, num_oov_buckets=0)