In [3]:
import numpy as np

def gini(list):
    list = np.array(list)
    sums = 0
    for xi in list:
        for xj in list:
            sums += abs(xi - xj)
    print('sums = ', sums)
    ave = list.sum() / len(list)
    print('ave = ', ave)
    print('ave_diff = ', sums / (len(list) ** 2))
    gi = sums / (2 * (len(list) ** 2) * ave)
    return gi

A = [0,3,3,5,5,5,5,7,7,10]
B = [0,1,2,3,5,5,7,8,9,10]
C = [3,4,4,5,5,5,5,6,6,7]

print('giniA = ', gini(A))
print('giniB = ', gini(B))
print('giniC = ', gini(C))

sums =  276
ave =  5.0
ave_diff =  2.76
giniA =  0.276
sums =  376
ave =  5.0
ave_diff =  3.76
giniB =  0.376
sums =  120
ave =  5.0
ave_diff =  1.2
giniC =  0.12

In [8]:
def entropy(list):
    list = np.array(list)
    sums = list.sum()
    sums_sigma = 0
    for fi in list:
        pi = fi / sums
        if pi != 0:
            sums_sigma += pi * np.log(pi)
    return -sums_sigma

this_year = [32,19,10,24,15]
ten_years_ago = [28,13,18,29,12]

print('This year = ', entropy(this_year))
print('Ten years ago =', entropy(ten_years_ago))
print('diff = ', entropy(this_year) - entropy(ten_years_ago))

This year =  1.537492332302312
Ten years ago = 1.5437380015770872
diff =  -0.006245669274775212

In [41]:
def standardizedScore(list):
    list = np.array(list)
    var = 0.0
    ave = 0.0
    for x in list:
        var += x**2/len(list)
        ave += x / len(list)
    print('var=', var)
    print('ave=', ave)
    sigma = np.sqrt(var)
    print(sigma)
    print(list)
    for i in range(0, len(list)):
        list[i] -= ave
        print(list[i])
        list[i] = float(list[i])
        list[i] /= sigma
        print(list[i])
    return list

In [42]:
standardizedScore(B)

var= 35.800000000000004
ave= 5.0
5.9833101206606365
[ 0  1  2  3  5  5  7  8  9 10]
-5
0
-4
0
-3
0
-2
0
0
0
0
0
2
0
3
0
4
0
5
0

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [1]:
p = (35/36)**24

In [2]:
print(p)

0.5085961238690966

In [4]:
for n in range(1,100):
    if (35/36)**n < 0.1:
        print(n)
        break

82

In [8]:
for n in [5,10,15,20,21,22,23,24,25,30,35,40,50,60]:
    p_inv = 1
    for  i in range(1,n):
        p_inv *= (1-(i/365))
    p = 1- p_inv
    print('p_', n, '=', p)

p_ 5 = 0.02713557369979347
p_ 10 = 0.11694817771107768
p_ 15 = 0.25290131976368646
p_ 20 = 0.41143838358058016
p_ 21 = 0.4436883351652059
p_ 22 = 0.4756953076625502
p_ 23 = 0.5072972343239854
p_ 24 = 0.5383442579145288
p_ 25 = 0.5686997039694639
p_ 30 = 0.7063162427192687
p_ 35 = 0.8143832388747152
p_ 40 = 0.891231809817949
p_ 50 = 0.9703735795779884
p_ 60 = 0.994122660865348

In [9]:
R = 8955/8960

In [10]:
print(R)

0.9994419642857143

In [17]:
import pandas as pd

pf = pd.DataFrame([[41.4, 52.8],[76.3, 71.2], [59.2, 72.6], [51.8, 63.7], [52.5, 81.3], [53.2, 81.8], [62.4, 70.9], [55.0, 74.0], [57.7, 73.2], [63.2, 72.9]
                ,[37.5, 66.7], [48.5, 65.7], [32.4, 43.7], [20.5, 55.5], [47.9, 79.6], [68.9, 85.7], [68.5, 75.3], [52.5, 80.5], [63.3, 73.0], [58.8, 77.0], 
                  [59.7, 77.5], [48.4, 69.2], [40.7, 60.0], [51.0, 78.2], [50.9, 79.5], [34.3, 61.8], [25.8, 49.6], [32.1, 59.6], [34.4, 72.1], [55.1, 71.0],
                  [60.3, 76.3], [57.0, 72.8], [45.6, 71.8], [54.2, 60.7], [55.1, 67.0], [55.7, 71.8], [70.3, 71.2], [61.8, 68.3], [47.6, 68.5], 
                  [42.5, 54.8], [71.3, 76.0], [55.2, 65.8], [65.2, 69.4], [42.9, 66.9], [54.7, 69.7], [62.0, 71.2], [48.2, 59.6]], columns=['都道府県', '自民得票率', '持ち家比率'], index = [''])

In [18]:
pf

      0     1     2
0  41.4  76.3  59.2
1  52.8  71.2  72.6